<?xml version='1.0'?>
<model>
  <name>Platoon Vehicle</name>
  <version>0.1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Colin Lee</name>
    <email>lcyfly1@163.com</email>
  </author>

  <description>
    Add control plugins to the Polaris Ranger EV, 
  </description>

  <depend>
    <model>
      <uri>model://polaris_ranger_ev</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
